name: GitHub Profile Stats

on:
    schedule:
        # run everyday at 12:00 UTC
        - cron: "0 12 * * *"
    workflow_dispatch:

permissions:
    # Give the default GITHUB_TOKEN write permission to commit and push the
    # added or changed files to the repository.
    contents: write

jobs:
    Collect-GitHub-Stats:
        runs-on: ubuntu-latest
        concurrency:
            group: stats-concurrency
            cancel-in-progress: true
        steps:
            - uses: actions/checkout@v6

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Install dependencies
              run: bun install --frozen-lockfile

            - name: Generate stats
              env:
                  GITHUB_TOKEN: ${{ secrets.USER_PAT }}
              run: bun run start && bun run ./src/render.ts

            - uses: stefanzweifel/git-auto-commit-action@v7
              with:
                  commit_author: github-actions[bot] <actions@github.com> 
